<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JSON Data driven demo">
    <test name="Selenium Web data driven demo test">
        <classes>
            <class name="io.github.mfaisalkhatri.test.JsonDataProviderTest">
                <methods>
                    <include name="testRegistrationPasswordAlert"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>